@use "./variables";

@font-face {
  font-family: "Google Sans Code";
  font-style: normal;
  src: url(/fonts/GoogleSansCode-VariableFont_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: "Google Sans Code";
  font-style: italic;
  src: url(/fonts/GoogleSansCode-Italic-VariableFont_wght.ttf)
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Code", monospace;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
}

h1, h2, h3, h4, h5, h6, p {
  cursor: default;
  user-select: none;
}