.techs {
  display: flex;
  gap: 0.25rem;
  margin-top: 0.75rem;

  .tech {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border-primary);
    background: var(--color-secondary);
    height: 1.75rem;
    border-radius: 0.25rem;
    transition: 0.2s ease;
    cursor: pointer;

    &:first-child {
      padding-inline: 0.5rem;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    &:last-child {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    &:not(:first-child) {
      width: 1.75rem;
    }

    .techUrl {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      color: unset;
      text-decoration: none;
      height: 100%;
      position: relative;

      .techIcon {
        object-fit: contain;
        width: 1rem;
        height: 1rem;
      }

      .techName {
        font-size: 0.8rem;
        color: var(--color-text-secondary);
      }

      .techNameHover {
        position: absolute;
        opacity: 0;
        transform: translate(-50%, calc(-100% - 0.35rem - 10px));
        transition: 0.2s ease;
        font-size: 0.7rem;
        left: 50%;
        top: 0;
        color: #cccccc;
        background: #333333;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        pointer-events: none;

        &::before {
          content: "";
          position: absolute;
          background: #333333;
          width: 0.35rem;
          height: 0.35rem;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%) rotate(45deg);
        }
      }
    }

    &:hover {
      border-radius: 1rem;
      background: var(--color-secondary-hover);

      .techUrl .techNameHover {
        opacity: 1;
        transform: translate(-50%, calc(-100% - 0.35rem));
      }
    }
  }
}