@use "sass:color" as color;

@mixin button ($backgroundColor, $color, $borderColor: transparent) {
  border-radius: 0.25rem;
  padding-inline: 1rem;
  height: 2rem;
  background: $backgroundColor;
  color: $color;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.2s ease;
  font-size: 0.8rem;
  cursor: pointer;

  @if $borderColor == transparent {
    border: none;
  } @else {
    border: 1px solid $borderColor;
  }

  &:hover {
    border-radius: 1rem;
  }

  .icon {
    font-size: 1rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  .toolbar {
    display: flex;
    justify-content: space-between;

    .addProject {
      position: relative;

      .newProjectButton {
        @include button(#4934ea, #f9f8ff);

        &:hover {
          @include button(#3926ca, #f9f8ff);
        }
      }

      .addProjectMenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        margin-top: 0.5rem;
        border: 1px solid #e0e0e0;
        box-shadow: 0 0 5px #e0e0e0;
        border-radius: 0.5rem;
        overflow: hidden;
        transition: 0.2s ease;
        transform: translateY(0);

        .menuButton {
          white-space: nowrap;
          padding: 0.75rem;
          background: #ffffff;
          border: none;
          font-size: 0.8rem;
          color: #333333;
          cursor: pointer;
          transition: 0.2s ease;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5rem;

          .createIcon, .gitIcon {
            font-size: 1rem;
            color: #999999;
            transition: 0.2s ease;
          }
          
          &:hover {
            background: #f5f5f5;

            .createIcon {
              color: #198e38;
            }

            .gitIcon {
              color: #ff4f2c;
            }
          }
        }

        &[aria-hidden="true"] {
          opacity: 0; 
          transform: translateY(-10px);
        }
      }
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .project {
      width: 100%;
      padding: 1rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      border: 1px solid #d8d8d8;
      border-bottom-width: 4px;
      border-radius: 0.125rem;

      .projectHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          color: #111111;
        }

        .date {
          font-size: 0.8rem;
          color: #808080;
        }
      }

      .gitStatus {
        font-weight: 500;
        font-size: 0.7rem;
        width: fit-content;
        padding-inline: 0.5rem;
        height: 1.5rem;
        align-items: center;
        display: flex;
        gap: 0.5rem;
        border-radius: 0.75rem;
        text-decoration: none;

        &[data-gitstatus="CLEAN"] {
          background: #e2f3e5;
          color: #50cb1b;
        }

        &[data-gitstatus="MODIFIED"] {
          background: #f3ebe2;
          color: #cb8d1b;
        }
      }

      .projectFooter {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .buttons {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          justify-content: flex-end;

          .revealFileExplorer {
            @include button(transparent, #444444, #e0e0e0);

            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;

            &:hover {
              @include button(#fafafa, #222222, #e0e0e0);
            }
          }

          .openVSCode {
            @include button(#4934ea, #f9f8ff);

            &:hover {
              @include button(#3926ca, #f9f8ff);
            }

            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }
      }
    }
  }
}