@use "sass:color" as color;

@mixin button ($backgroundColor, $color, $borderColor: transparent) {
  border-radius: 0.25rem;
  padding-inline: 1rem;
  height: 2rem;
  background: $backgroundColor;
  color: $color;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.2s ease;
  font-size: 0.8rem;
  cursor: pointer;

  @if $borderColor == transparent {
    border: none;
  } @else {
    border: 1px solid $borderColor;
  }

  &:hover {
    border-radius: 1rem;
  }

  .icon {
    font-size: 1rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  max-width: 1000px;
  width: 100%;

  .toolbar {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .addProject {
      position: relative;
      height: fit-content;

      .newProjectButton {
        @include button(var(--color-accent), var(--color-accent-text));

        &:hover {
          @include button(var(--color-accent-hover), var(--color-accent-text));
        }
      }

      .addProjectMenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        margin-top: 0.5rem;
        border: 1px solid var(--color-border-primary);
        box-shadow: 0 2px 5px var(--color-shadow-primary);
        border-radius: 0.5rem;
        overflow: hidden;
        transition: 0.2s ease;
        transform: translateY(0);
        pointer-events: all;

        .menuButton {
          white-space: nowrap;
          padding-inline: 0.75rem;
          height: 2.2rem;
          background: var(--color-primary);
          color: var(--color-text-primary);
          border: none;
          font-size: 0.8rem;
          cursor: pointer;
          transition: 0.2s ease;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5rem;

          .createIcon, .gitIcon {
            font-size: 1rem;
            color: #999999;
            transition: 0.2s ease;
          }
          
          &:hover {
            background: var(--color-primary-hover);

            .createIcon {
              color: #198e38;
            }

            .gitIcon {
              color: #ff4f2c;
            }
          }
        }

        &[aria-hidden="true"] {
          opacity: 0; 
          transform: translateY(-10px);
          pointer-events: none;
        }
      }
    }

    .displayStyle {
      position: relative;
      display: flex;
      align-items: center;
      height: fit-content;

      .buttonWrapper {
        display: flex;
        align-items: center;

        .choice {
          display: grid;
          place-items: center;
          height: 2rem;
          width: 2rem;
          border: none;
          background: none;
          color: #444444;
          border: 3px solid #444444;
          cursor: pointer;
          transition: 0.2s ease;

          &:first-child {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            border-right: none;
          }

          &:last-child {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            border-left: none;
          }
        }
      }

      .selected {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2rem;
        height: 2rem;
        background: #444444;
        transition: 0.2s ease;
        border-radius: 0.25rem;
        pointer-events: none;
        z-index: -1;

        &[data-selectedidx="1"] {
          left: 2rem;
        }
      }

      &:has(.selected[data-selectedidx="0"]) .buttonWrapper .choice:first-child {
        color: #ffffff;
      }

      &:has(.selected[data-selectedidx="1"]) .buttonWrapper .choice:last-child {
        color: #ffffff;
      }
    }
  }

  .projectList, .projectGrid {
    .project {
      width: 100%;
      padding: 1rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      border: 1px solid var(--color-border-primary);
      background: var(--color-secondary);
      border-bottom-width: 0.25rem;
      border-radius: 0.25rem;
      transition: 0.2s ease;

      .projectHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          color: var(--color-text-primary);
          font-weight: 500;
        }

        .date {
          font-size: 0.7rem;
          color: var(--color-text-tertiary);
        }
      }

      .gitStatus {
        font-weight: 500;
        font-size: 0.7rem;
        width: fit-content;
        padding-inline: 0.5rem;
        height: 1.5rem;
        align-items: center;
        display: flex;
        gap: 0.5rem;
        border-radius: 0.75rem;
        text-decoration: none;
        transition: 0.2s ease;

        &[data-gitstatus="CLEAN"] {
          background: #50cb1b22;
          color: #50cb1b;

          &:hover {
            background: #50cb1b33;
          }
        }

        &[data-gitstatus="MODIFIED"] {
          background: #cb591b22;
          color: #cb591b;

          &:hover {
            background: #cb591b33;
          }
        }
      }

      .projectFooter {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .buttons {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          justify-content: flex-end;

          .revealFileExplorer {
            @include button(var(--color-secondary), var(--color-text-secondary), var(--color-border-primary));

            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;

            &:hover {
              @include button(var(--color-secondary-hover), var(--color-text-secondary), var(--color-border-primary));
            }
          }

          .openVSCode {
            @include button(var(--color-accent), var(--color-accent-text));

            &:hover {
              @include button(var(--color-accent-hover), var(--color-accent-text));
            }

            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }
      }
    }
  }

  .projectList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .project {
      .projectHeader {
        align-items: flex-start;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        .title {
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .projectFooter {
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        flex: 1;

        .buttons {
          margin-top: auto;
          flex-direction: column;
          width: 100%;

          .revealFileExplorer, .openVSCode {
            width: 100%;
            justify-content: center;
          }

          .revealFileExplorer {
            border-radius: 0.25rem;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }

          .openVSCode {
            border-radius: 0.25rem;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }
      }
    }
  }
}

.modalTitle {
  color: var(--color-text-primary);
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.templates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

  .templateButton {
    aspect-ratio: 4 / 3;
    border-radius: 0.25rem;
    border: 1px solid var(--color-border-primary);
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    transition: 0.2s ease;

    .icon {
      font-size: 2rem;
      color: var(--color-text-primary);
    }

    .projectName {
      font-size: 0.8rem;
      color: var(--color-text-secondary);
    }

    &:hover {
      background: var(--color-secondary-hover);
      border-radius: 1rem;
    }
  }
}