@use "sass:color" as color;

.projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  .project {
    width: 100%;
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 5px #e0e0e0;
    border-radius: 0.125rem;

    .projectHeader{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        color: #111111;
      }

      .date {
        font-size: 0.8rem;
        color: #808080;
      }
    }

    .gitStatus {
      background: #f1e5db;
      color: #f07f1b;
      font-weight: 500;
      font-size: 0.8rem;
      width: fit-content;
      padding-inline: 0.75rem;
      height: 1.75rem;
      align-items: center;
      display: flex;
      border-radius: 0.875rem;
    }

    .projectFooter {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .techs {
        display: flex;
        gap: 0.25rem;
        margin-top: 0.75rem;

        .tech {
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #e0e0e0;
          height: 1.75rem;
          border-radius: 0.25rem;
          transition: 0.2s ease;

          &:first-child {
            padding-inline: 0.5rem;
          }

          &:not(:first-child) {
            width: 1.75rem;
          }

          &:hover {
            background: #f0f0f0;
            border-radius: 1rem;
          }

          .techUrl {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            color: unset;
            text-decoration: none;

            .techIcon {
              object-fit: contain;
              width: 1rem;
              height: 1rem;
            }

            .techName {
              font-size: 0.8rem;
              color: #333333;
            }
          }
        }
      }

      .buttons {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-end;

        @mixin button ($backgroundColor, $color, $borderColor: transparent) {
          border-radius: 0.125rem;
          padding: 0.5rem 1rem;
          background: $backgroundColor;
          color: $color;
          transition: 0.2s ease;
          cursor: pointer;

          @if $borderColor == transparent {
            border: none;
          } @else {
            border: 1px solid $backgroundColor;
          }

          &:hover {
            filter: brightness(90%);
            border-radius: 1.25rem;
          }
        }

        .revealFileExplorer {
          @include button(transparent, #444444, #e0e0e0);
        }

        .openVSCode {
          @include button(#4934ea, #f9f8ff);
        }
      }
    }
  }
}