.header {
  display: flex;
  justify-content: space-between;

  .titleBarButtons {
    display: flex;
    height: 2rem;

    .titleBarButton {
      padding-inline: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background: transparent;
      transition: 0.2s ease;
      position: relative;
      height: 100%;
      font-size: 1rem;
      color: #333333aa;

      &::before {
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 0;
        height: 0;
        position: absolute;
        transition: width 0.1s ease, height 0.1s ease, border-radius 0.4s ease;
        background: #ee3232;
        z-index: -1;
      }

      &:hover {
        &:not(:last-child) {
          background: #f0f0f0;
        }

        &:last-child {
          color: #ffffff;
          transition: 0.1s ease;

          &::before {
            border-radius: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}