.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border-primary);
  background: var(--color-secondary);
  width: 100%;
  margin-bottom: 1rem;
  -webkit-app-region: drag;

  .leftContainer {
    margin-left: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .appIcon {
      height: 1.2rem;
      width: 1.2rem;
    }

    .appTextInfo {
      display: flex;
      gap: 0.25rem;
      align-items: baseline;

      .appName {
        font-weight: 400;
        font-size: 0.9rem;
        color: var(--color-text-primary);
      }

      .appVersion {
        font-size: 0.6rem;
        color: var(--color-text-secondary);
      }
    }
  }

  .titleBarButtons {
    display: flex;
    height: 2rem;
    -webkit-app-region: no-drag;

    .titleBarButton {
      padding-inline: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background: transparent;
      transition: 0.1s ease;
      position: relative;
      height: 100%;
      font-size: 1rem;
      color: var(--color-text-primary);
      z-index: 2;

      &::before {
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 0;
        height: 0;
        position: absolute;
        transition: width 0.1s ease, height 0.1s ease, border-radius 0.4s ease;
        z-index: -1;
      }

      &:nth-child(1)::before {
        background: #2ebd335b;
      }

      &:nth-child(2)::before {
        background: #1e71d05b;
      }

      &:nth-child(3)::before {
        background: #e04949;
      }

      &:hover {
        color: #ffffff;

        &::before {
          border-radius: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}