.container {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 999;

  .backdrop {
    border: none;
    z-index: -1;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: 0.2s ease;
  }
    
  .modal {
    position: fixed;
    max-height: 600px;
    height: 100%;
    aspect-ratio: 7 / 8;
    border-radius: 0.25rem;
    background: var(--color-primary);
    border: 1px solid var(--color-border-primary);
    box-shadow: 0 2px 5px var(--color-shadow-primary);
    opacity: 1;
    transform: translateY(0);
    transition: 0.2s ease;
    padding: 1.4rem;
  }

  &:not(.visible) {
    pointer-events: none;

    .backdrop {
      opacity: 0;
    }

    .modal {
      opacity: 0;
      transform: translateY(-25px);
    }
  }
}
